# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite

# Node
node_modules/
npm-debug.log
yarn-error.log

# React
frontend/build/
frontend/.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
